.services {
	&__header {
		padding: 4rem 2rem;
		text-align: center;
		color: $primary-white;
		background: $primary-peach;
		& > div {
			max-width: 45.625rem;
			margin: 0 auto;
		}
	}
	&__projectGrid,
	&__grid {
		@include container();
		display: grid;
		margin-top: 10rem;
		gap: $grid-gutter;
	}
	&__projectGrid {
		grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	}
	&__grid {
		grid-template-columns: repeat(1, 1fr);
	}
	@media (min-width: $screen-min-tablet) {
		&__headerContainer {
			@include container();
		}
		&__header {
			border-radius: 0.9375rem;
			padding: 4rem;
		}
	}
	@media (min-width: $screen-min-tablet) and (max-width: $screen-max-tablet) {
		&__projectGrid {
			grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		}
	}
	@media (min-width: $screen-min-laptop) {
		&__grid {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	@media (min-width: $screen-min-desktop) {
	}
}
