@import "./files.scss";
@import "./reset.scss";
@import "./utilities.scss";

.header {
	padding-block: 2rem;
	display: flex;
	justify-content: space-between;
	@media (min-width: $screen-min-laptop) {
		padding-block: 4rem;
	}
}

nav ul {
	display: inline-flex;
	padding-right: 0px;
	justify-content: center;
	align-items: flex-start;
	gap: 2.6rem;
	li {
		list-style: none;
		color: $secondary-black;
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 0.875rem;
		letter-spacing: 0.125rem;
		text-transform: uppercase;
	}
}

header {
	.hamburger {
		display: none;
	}
	& > a {
		display: block;
		line-height: 1;
	}

	@media (max-width: $screen-min-laptop) {
		.hamburger {
			display: block;
			background-color: none;
			border: 0;
			cursor: pointer;
		}
		nav {
			position: fixed;
			right: -100%;
			background-color: rgba($color: $black, $alpha: 0.5);
			bottom: 0;
			top: 92px;
			transition: all 0.2s ease;
			z-index: 100;
			ul {
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				gap: $grid-gutter;
				padding: 3rem 1.5rem;
				background: $black;
				width: 100%;
				a {
					color: $primary-white;
					font-size: 1.5rem;
					font-weight: 400;
					line-height: 1.5625rem;
					letter-spacing: 0.125rem;
				}
			}
			&.active {
				right: 0;
				width: 100%;
			}
		}
	}
}

.homeServicesGrid {
	margin-top: 10rem;
	display: grid;
	grid-template-rows: 1fr 1fr;
	width: 100%;
	gap: $grid-gutter-medium;

	@media (min-width: $screen-min-laptop) {
		grid-template-columns: 1fr 1fr;
		& > div:nth-child(1) {
			grid-row: 1 / 3;
		}
	}
}

.contactgrid {
	display: flex;
	background-color: $primary-peach;
	color: $primary-white;
	padding: 4rem 1.5rem;
	gap: 4rem;
	flex-direction: column;
	overflow: hidden;
	position: relative;

	& > div:first-child {
		max-width: 28rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: $grid-gutter;
		text-align: center;
		z-index: 1;
	}

	& > img {
		position: absolute;
		top: -3rem;
		left: 0rem;
	}
	@media (min-width: $screen-min-tablet) {
		border-radius: $border-radius-card;
		padding: 4rem 3.5rem;
		& > div:first-child {
			text-align: start;
		}
		& > img {
			position: absolute;
			top: -8rem;
			left: -2rem;
		}
	}
	@media (min-width: $screen-min-laptop) {
		padding: 4rem 6rem;
	}
	@media (min-width: $screen-min-desktop) {
		flex-direction: row;
	}
}

@media (min-width: $screen-min-tablet) {
	.contactHeaderContainer {
		@include container();
	}
}
