@import "./files.scss";
@import "./reset.scss";
@import "./utilities.scss";

nav ul {
	display: inline-flex;
	padding-right: 0px;
	justify-content: center;
	align-items: flex-start;
	gap: 2.625rem;
	li {
		list-style: none;
		color: $secondary-black;
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 0.875rem;
		letter-spacing: 0.125rem;
		text-transform: uppercase;
	}
}
