@mixin backdrop() {
	&::before {
		opacity: 0.496884286403656;
		background: $black;
		position: absolute;
		inset: 0;
		content: "";
		border-radius: $border-radius-card;
	}
}

@mixin container() {
	max-width: $max-width;
	margin: 0 auto;
	padding-inline: 1rem;
}
