$max-width: 1100px;
$border-radius: 0.5rem;
$border-radius-card: 0.9375rem;
$border-radius-btn: 8px;

// ============ COLORS ============
// Primary Color
$primary-peach: #e7816b;
$primary-peach-text: #af452e;
$primary-black: #1d1c1e;
$primary-white: #ffffff;

// Secondary Color
$secondary-peach: #ffad9b;
$secondary-black: #333136;
$secondary-white: #f1f3f5;

// Common Color
$black: #000;
$pale-red: #fdf3f0;

// ============ Font Sizes: ============
$font-main: 1rem;
$font-heading1: 3rem;
$font-heading2: 2.5rem;
$font-heading3: 1.25rem;

// ============ Grid Sizes: ============
$grid-gutter: 2rem;
$grid-gutter-medium: 1.5rem;
$grid-gutter-small: 1rem;

$screen-min-mobile: 320px;
$screen-max-mobile: 479px;
$screen-min-tablet: 480px;
$screen-max-tablet: 767px;
$screen-min-laptop: 768px;
$screen-max-laptop: 1023px;
$screen-min-desktop: 1024px;
$screen-min-desktop: 1199px;
$screen-min-tv: 1200px;
