$max-width: 1100px;
$border-radius: 0.5rem;
$border-radius-card: 0.9375rem;
$border-radius-btn: 8px;

// ============ COLORS ============
// Primary Color
$primary-peach: #e7816b;
$primary-black: #1d1c1e;
$primary-white: #ffffff;

// Secondary Color
$secondary-peach: #ffad9b;
$secondary-black: #333136;
$secondary-white: #f1f3f5;

// ============ Font Sizes: ============
$font-main: 16px;
$font-heading1: 48px;
$font-heading2: 40px;
$font-heading3: 20px;

$screen-min-mobile: 320px;
// $screen-max-mobile: 480px;
$screen-min-tablet: 480px;
$screen-min-laptop: 768px;
$screen-min-desktop: 1024px;
$screen-min-tv: 1200px;
