.hero {
	display: flex;
	background-color: $primary-peach;
	color: #fff;
	border-radius: $border-radius-card;
	position: relative;
	height: 52rem;
	overflow: hidden;
	flex-direction: column;
	box-shadow: 0 0 0 100vmax $primary-peach;
	clip-path: inset(0 -100vmax);
	&__content {
		margin-top: 5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		button {
			text-transform: uppercase;
			margin-inline: auto;
		}
	}
	&__heading {
		font-weight: 500;
		margin-bottom: 1.4rem;
		font-size: 2rem;
		line-height: 2.25rem;
	}
	&__desc {
		font-weight: 400;
		margin-bottom: 2.5rem;
		font-size: 0.9375rem;
		line-height: 1.5625rem;
	}
	img:first-of-type {
		position: absolute;
		top: 50px;
		right: -100px;
	}
	&__phoneImg {
		margin: 0 auto;
		display: block;
	}
	@media (min-width: $screen-min-tablet) {
	}
	@media (min-width: $screen-min-laptop) {
		height: 36rem;
		flex-direction: row;
		box-shadow: 0 0 0;
		clip-path: none;
		&__content {
			margin-top: 2rem;
			text-align: left;
			padding-left: 2rem;
			max-width: 30rem;
			button {
				margin-inline: 0;
			}
		}
		&__heading {
			font-size: 3rem;
			line-height: 3rem;
		}
		&__desc {
			font-size: 1rem;
			line-height: 1.625rem;
		}

		img {
			position: absolute;
			right: 0;
		}
		&__phoneImg {
			bottom: -200px;
			right: -100px !important;
		}
	}
	@media (min-width: $screen-min-desktop) {
		height: 38rem;
		&__content {
			padding-left: 5.94rem;
			max-width: 36rem;
		}

		&__phoneImg {
			right: auto;
		}
	}
}
