.location {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: $grid-gutter;
	.location__image {
		position: relative;
		img:last-child {
			position: absolute;
			inset: 0;
		}
	}
}
