.footer {
	margin-top: 10rem;
	position: relative;
	overflow-x: hidden;
	&::before {
		content: "";
		position: absolute;
		top: 325px;
		right: unset;
		bottom: unset;
		width: 1006px;
		height: 594px;
		right: -100px;
		top: -475px;
		background: url(/assets/shared/desktop/bg-pattern-leaf.svg);
		z-index: -2;
	}

	&__top {
		background: $primary-peach;
		margin-bottom: -70px;
		z-index: 10;
		position: relative;
		padding: 4rem 1.5rem;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
		text-align: center;
		gap: $grid-gutter-small;
		overflow: hidden;

		& > img {
			position: absolute;
			right: 0;
			z-index: 1000;
			z-index: 0;
		}

		p {
			color: $primary-white;
			z-index: 2;
		}
		p:first-of-type {
			font-size: 2rem;
			font-weight: 500;
			line-height: 2.25rem;
			margin-bottom: 1.25rem;
		}
		p::last-of-type {
			font-weight: 400;
			font-size: 0.9375rem;
			line-height: 1.5625rem;
		}
		a {
			text-align: center;
			z-index: 2;
		}
	}
	&__bottom {
		background: $primary-black;
		box-shadow: 0 0 0 100vmax $primary-black;
		clip-path: inset(0 -100vmax);
		padding: 4.5rem 1rem;

		&,
		nav a {
			color: white;
		}
		nav ul {
			flex-direction: column;
			align-items: center;
		}

		& > div {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: $grid-gutter;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		& > div:first-of-type {
			width: 100%;
			padding-bottom: 2.5rem;
			& > a {
				border-bottom: 1px solid rgba(255, 255, 255, 0.1);
				width: 100%;
				padding-bottom: 2.5rem;
			}
		}
		& > div:last-of-type {
			padding-top: 2rem;

			& > div {
				opacity: 0.5;
			}
			ul {
				display: flex;
				gap: $grid-gutter-small;
				flex-wrap: wrap;
			}
		}
	}
	&__hasFooterTop &__bottom {
		padding: 9rem 1rem 4.5rem;
	}
	@media (min-width: $screen-min-tablet) {
		&__top {
			& > div:first-of-type {
				max-width: 35rem;
			}
			p:first-of-type {
				font-size: 2.5rem;
				line-height: 2.5rem;
			}
			p::last-of-type {
				font-size: 1rem;
				line-height: 1.625rem;
			}
		}
		&__bottom {
			nav {
				ul {
					flex-direction: row;
					align-items: flex-start;
				}
			}
			& > div {
				flex-direction: row;
				align-items: flex-start;
				text-align: start;
			}
			& > div:first-of-type {
				width: auto;
				border-bottom: 1px solid rgba(255, 255, 255, 0.1);
				& > a {
					width: auto;
					border-bottom: 0;
					padding-bottom: 0;
				}
			}
			& > div:last-of-type {
				align-items: flex-end;
				& > div {
					opacity: 1;
				}
			}
		}
	}
	@media (min-width: $screen-min-laptop) {
		overflow-x: visible;
		& > div {
			@include container();
		}
		&__top {
			border-radius: 0.9375rem;
			padding: 4.5rem 6rem;
			display: flex;
			justify-content: space-between;
			text-align: left;
			& > div:first-of-type {
				max-width: 28.6875rem;
			}
		}
	}
}
